In [1]:
#import the necessary libraries
import os
import pandas as pd
import numpy as np

In [2]:
#derive the input file paths
filepath = os.path.join("","purchase_data.csv")

In [3]:
#construct the requried dataframes
df = pd.read_csv(filepath)

In [4]:
#display the head of both the dataframe
display(df.head(5))

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#shape of the dataframes
display(df.shape)

(780, 7)

In [6]:
#datatypes of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [7]:
# Total Number of Players
df['SN'].nunique()

576

In [8]:
pd.DataFrame({"Total Number of Players":df['SN'].nunique()},index=[0]).style.set_properties(**{'background-color': 'ash',
                           'color': 'blue',
                           'border-color': 'white'})

In [9]:
# Number of Unique Items
df['Item ID'].nunique()

183

In [10]:
# Average Purchase Price
df['Price'].mean()

3.050987179487176

In [11]:
# Total Number of Purchases
len(df)

780

In [12]:
# Total Revenue
df['Price'].sum()

2379.77

In [13]:
pd.DataFrame({"Number of Unique Items":df['Item ID'].nunique(),
  "Average Purchase Price":df['Price'].mean(),
 "Total Number of Purchases":len(df),
"Total Revenue":df['Price'].sum()},index=[0]).style.set_properties(**{'background-color': 'ash',
                           'color': 'blue',
                           'border-color': 'white'})

In [14]:
# get all the duplicate rows
display(df.loc[df.duplicated("SN",keep=False),:].sort_values("SN").head(10))
display(len(df.loc[df.duplicated("SN",keep=False),:]))

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04
87,87,Aelin32,20,Male,151,Severance,3.40
52,52,Aelin32,20,Male,60,Wolf,3.54
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18
428,428,Aelly27,24,Male,14,Possessed Core,2.61
203,203,Aelollo59,33,Male,3,Phantomlight,2.49
431,431,Aelollo59,33,Male,172,Blade of the Grave,3.14
578,578,Aerithllora36,29,Female,153,Mercenary Sabre,3.74

366

In [15]:
# drop the duplicate SN rows to get gender propotions# drop th 
df_unique = df.drop_duplicates("SN", keep='first')
len(df_unique)

576

In [16]:
pd.DataFrame({'Percentage of players' : df_unique['Gender'].value_counts(normalize=True),
   'Total Count' : df_unique['Gender'].value_counts()}).style.bar(color='#05668D')

In [17]:
summary_gender_purchasing = pd.DataFrame(df.groupby('Gender').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
summary_gender_purchasing.style.bar(color='#05668D')

In [18]:
#test  =  pd.DataFrame({'days': [0,31,45,60]})
#test['range'] = pd.cut(test.days, [0,30,60,90], right=False)
#test

In [21]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_labels = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
df['Age_Group'] = pd.cut(df['Age'], age_bins ,labels = age_labels,right=False)

#age_labels
#age_bins
#df['Age_Group']

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [27]:
summary_age = pd.DataFrame(df.groupby('Age_Group').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [28]:
summary_age.style.bar(color='#05668D')

In [29]:
summary_spenders = pd.DataFrame(df.groupby(['SN']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [30]:
summary_spenders.sort_values(('Price','sum'),ascending=False)[:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

In [31]:
summary_items = pd.DataFrame(df.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [32]:
summary_items.sort_values(('Item ID','count'),ascending=False)[0:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

In [33]:
summary_items  = pd.DataFrame(df.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [34]:
summary_items.sort_values(('Price','sum'),ascending=False)[0:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})